In [10]:
import pandas as pd
import openpyxl

agosto2014=pd.read_excel(r"C:\temp\VentasGroucery_Meses.xlsx",sheet_name="Ventas Agosto 2014")
agosto2014
septiembre2014=pd.read_excel(r"C:\temp\VentasGroucery_Meses.xlsx",sheet_name="Ventas Septiembre 2014")
septiembre2014
octubre2014=pd.read_excel(r"C:\temp\VentasGroucery_Meses.xlsx",sheet_name="Ventas Octubre 2014")
octubre2014

trimestre2014=pd.concat([agosto2014,septiembre2014,octubre2014])
trimestre2014

print(len(trimestre2014.columns))

9

In [ ]:
import pandas as pd
import openpyxl
agosto2014=pd.read_excel(r"C:\temp\VentasGroucery_Meses.xlsx",sheet_name="Ventas Agosto 2014")
agosto2014
septiembre2014=pd.read_excel(r"C:\temp\VentasGroucery_Meses.xlsx",sheet_name="Ventas Septiembre 2014")
septiembre2014
octubre2014=pd.read_excel(r"C:\temp\VentasGroucery_Meses.xlsx",sheet_name="Ventas Octubre 2014")
octubre2014

trimestre2014=pd.concat([agosto2014,septiembre2014,octubre2014])
trimestre2014

,Order ID,Product,Category,Unit Price,Quantity,Customer,Ship City,Ship Country,Order Date
0,10248,Singaporean Hokkien Fried Mee,Grains/Cereals,9.8,1,Vins et alcools Chevalier,Reims,France,2014-08-04
1,10248,Mozzarella di Giovanni,Dairy Products,34.8,5,Vins et alcools Chevalier,Reims,France,2014-08-04
2,10248,Queso Cabrales,Dairy Products,14.0,12,Vins et alcools Chevalier,Reims,France,2014-08-04
3,10249,Tofu,Produce,18.6,9,Toms Spezialitäten,Münster,Germany,2014-08-05
4,10249,Manjimup Dried Apples,Produce,42.4,40,Toms Spezialitäten,Münster,Germany,2014-08-05
...,...,...,...,...,...,...,...,...,...
52,10315,Sasquatch Ale,Beverages,11.2,14,Island Trading,Cowes,UK,2014-10-27
53,10315,Outback Lager,Beverages,12.0,30,Island Trading,Cowes,UK,2014-10-27
54,10316,Jack's New England Clam Chowder,Seafood,7.7,10,Rattlesnake Canyon Grocery,Albuquerque,USA,2014-10-28
55,10316,Tarte au sucre,Confections,39.4,70,Rattlesnake Canyon Grocery,Albuquerque,USA,2014-10-28
56,10317,Chai,Beverages,14.4,20,Lonesome Pine Restaurant,Portland,USA,2014-10-31

In [47]:
str=[trimestre2014.Category.unique()]
str.replace("/"," ")
[trimestre2014.Category.unique()].count

AttributeError: 'list' object has no attribute 'replace'

In [43]:
str="Grains/Cereals"
str.replace("/"," ")

'Grains Cereals'